body.pagina-menu-body {
  margin: 0 auto;
  color: white;
  position: relative;
  overflow: hidden;
}

.pagina-menu {
  .tela {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .menu {
    position: absolute;
    width: 35vh;
    left: 0px;
    height: 100vh;
    background-color: #d9d9d9;
  }

  .menu img {
    display: block;
    margin: 25px auto;
  }

  .novoitem {
    margin: 0 auto;
    position: relative;
    font-size: 4vh;
    text-align: center;
    line-height: 30px;
    display: block;
    font-family: "Inter", sans-serif;
    width: 28vh;
    height: 18vh;
    top: 5vh;
    border-radius: 8px;
    background-color: #ed5600;
    transition: 0.5s ease;
  }

  .novoitem:hover {
    background-color: #c74901;
  }

  .listagem {
    position: relative;
    font-size: 4vh;
    text-align: center;
    text-align: middle;
    display: block;
    line-height: 30px;
    top: 8vh;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    width: 28vh;
    height: 18vh;
    border-radius: 8px;
    background-color: #ed5600;
    transition: 0.5s ease;
  }

  .listagem:hover {
    background-color: #c74901;
  }

  .indicadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: calc(100% - 35vh);
    height: 90vh;
    left: 35vh;
    position: absolute;
    text-align: center;
  }

  .contador {
    font-size: 3vh;
    color: #000;
    margin-bottom: 20px;
    padding: 10px;
    width: 60vw;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: #fff;

    h2 {
      margin: 0;
      padding-bottom: 10px;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .logout-button {
    position: absolute;
    bottom: 2vh;
    left: 3.8vh;
    z-index: 10; // Certifique-se de que o botão esteja na frente
  }
}
