body {
    margin: 0 auto;
    color: white;
}

.tela{
    display: flex;
    flex-direction: row;
}

.linha1{
    position: relative;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center; /* Adicionando esta linha */   
    background-color: aliceblue;
}

.quadrado{
    width: 30vh;
    height: 20vh;
}


.quadrado{
    width: 30vh;
    height: 20vh;

}