body{
    margin: 0 auto;
}

input[type="text"] {
    background-color: #ED5600;
    width: 80vh;
    height: 45px;
    color: white;    
    font-family: "Inter", sans-serif;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
}

input[type="password"] {
    background-color: #ED5600;
    width: 80vh;
    height: 45px;
    font-family: "Inter", sans-serif;
    color: white;    
    border-radius: 5px;
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #ED5600;
    width: 35vh;
    height: 10vh;
    text-align: center;
    line-height: 9vh;
    vertical-align: middle;
    border-radius: 50px;
    font-size: 3.5vh !important;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: 10vh;
    cursor: pointer;
}

