.tela-funcoes, .tela-editar-funcao, .tela-nova-funcao {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.btn-nova-funcao, .btn-alterar, .btn-excluir, .btn-criar-funcao, .btn-atualizar-funcao {
  background-color: #ED5600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-nova-funcao:hover, .btn-alterar:hover, .btn-excluir:hover, .btn-criar-funcao:hover, .btn-atualizar-funcao:hover {
  background-color: #D14D00;
}

.lista-funcoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.funcao-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  align-self: flex-end;
}
