.tela {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header, .footer {
  flex-shrink: 0;
}

.main-content {
  /* flex-grow: 1; */
  overflow-y: auto;
  margin-bottom: 5vh;
}

.usuario-item {
  background-color: #ff6600;
  margin-bottom: 1.5vh;
  border-radius: 1vh;
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1vh;
  height: 8vh;
}

.usuario-nome {
  font-size: 18px;
  font-weight: bold;
}

.button-group {
  display: flex;
  gap: 5vh;
}

.text-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
}

.text-button:hover {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

.large-cadastrar {
  padding: 2.5vh 3vh;
  font-size: 2.5vh;
  margin-top: 2vh;
}

.large-voltar {
  padding: 1vh 3vh;
  font-size: 2.5vh;
}

#botaoVoltar {
  position: absolute;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
}

