.tela {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative; /* Adicionado para posicionar a seta */
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.arrow-icon {
  color: #ED5600;
  font-size: 24px;
}

.input-cadastro {
  background-color: #ED5600;
  height: 45px;
  color: white;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
}

.logo-container {
  margin-top: 20px;
  margin-left: 20px;
}

.logo {
  width: 100px; /* Ajuste conforme necessário */
  height: auto;
}

.titulo-container {
  text-align: center;
  margin-top: 20px;
}

.titulo {
  font-size: 2.5vh; /* Tamanho da fonte do título */
  margin: 10px 0;
}

.botao-container {
  margin-top: 20px;
}

.clique-aqui {
  background-color: #ed5600;
  width: 200px; /* Ajuste conforme necessário */
  height: 60px; /* Ajuste conforme necessário */
  border-radius: 50px;
  font-size: 2.5vh !important;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0; /* Espaço entre os campos */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.c-disabled {
  cursor: not-allowed;
}