body{
    margin: 0 auto;
}

.tela{
    font-family: "Inter", sans-serif;
}

.inputs{
    display: flex;
    flex-direction: row;
    margin-left: 20vh;
}

.div1{
    font-size: 3vh;
    display: flex;
    flex-direction: column;
}

.div2{
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    left: 18vh;
    position: relative;
}

.cima{
    display: flex;
    flex-direction: row;
}

.titulo{
    background-color: #ED5600;
    height: 30vh;
    margin-top: 8vh;
    margin-left: 10vh;
    width: 165vh;
    text-align: center;
    line-height: 29vh;
    vertical-align: middle;
    font-size: 5vh;
    color: white;
}

.logo{
    height: 25vh !important;
    width: 25vh !important;
    padding: 25px;
}

.envia{
    width: 140vh !important;
    height: 20vh !important;
    color: white;
    border: none !important;
    margin-top: 15vh;
    left: 26vh;
    position: relative;
}