body {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    padding: 0;
    margin-left: 50px;
    background-color: #ffffff;
    border-radius: 20%;
}

/*cabeçalho*/

 nav {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    width: 100%; /* Garante que o cabeçalho ocupe toda a largura */
}


.titulo {
    width: 100%; /* Ocupa toda a largura disponível */
    height: 20vh;
    font-size: 4vh;
    text-align: center;
    font-family: "Inter", sans-serif;
    background-color: #ED5600;
    line-height: 10vh;
    color: #ffffff;
}

header {
    background-color: #ED5600;
    padding: 20px;
}



/*corpo/formulário*/

form {
    margin: 60px;
}

label {
    display: block;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="tel"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ED5600;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus,
.form-group input[type="date"]:focus,
.form-group input[type="number"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="file"]:focus,
.form-group select:focus {
    border-color: #007bff;
    outline: none;
}


.form-group input[type="file"] {
    width: 90%;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
}

.botao {
    text-align: center;
    margin-top: 30px;
}

.botao input {
    width: 18%;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ffffff;
    background-color: #ED5600;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.5s ease;
}

.botao input:hover {
    background-color: #c74901;
    
}

.instrucoes {
    font-size: 18px;
}