body.pagina-menu-body {
  margin: 0 auto;
  color: white;
  position: relative;
  overflow: hidden;
}

.pagina-menu {
  .tela {
    display: flex;
    flex-direction: row;
    position: absolute;
  }

  .menu {
    position: absolute;
    width: 35vh;
    left: 0px;
    height: 100vh;
    background-color: #d9d9d9;
  }

  .menu img {
    display: block;
    margin: 25px auto;
  }

  .novoitem {
    margin: 0 auto;
    position: relative;
    font-size: 4vh;
    text-align: center;
    line-height: 30px;
    display: block;
    font-family: "Inter", sans-serif;
    width: 28vh;
    height: 18vh;
    top: 5vh;
    border-radius: 8px;
    background-color: #ed5600;
    transition: 0.5s ease;
  }

  .novoitem:hover {
    background-color: #c74901;
  }

  .listagem {
    position: relative;
    font-size: 4vh;
    text-align: center;
    text-align: middle;
    display: block;
    line-height: 30px;
    top: 8vh;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    width: 28vh;
    height: 18vh;
    border-radius: 8px;
    background-color: #ed5600;
    transition: 0.5s ease;
  }

  .listagem:hover {
    background-color: #c74901;
  }

  .indicadores {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    left: 40vh;
    position: absolute;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  #container2 {
    margin-top: 10px !important;
  }
}
